rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow authenticated users to read and write their own rule sets
    match /ruleSets/{ruleSetId} {
      allow create: if request.auth != null;
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
      
      // Allow public read access to shared rule sets
      allow read: if resource.data.isShared == true;
    }
    
    // Allow authenticated users to read and write their own tokens
    match /userTokens/{userId} {
      allow read, write: if request.auth != null && userId == request.auth.uid;
    }
  }
}